<h2 class="-cmp-header">
  <span>
    Contact
    <span class="-cl-title-number app-cl-number">{{ labelNumber() }}</span>
  </span>
  <span class="-cl-title">{{ data().name }}</span>
  <span class="-cl-total-tels"
    >(<span class="app-cl-number">{{ numberOfTels() }}</span
    >)</span
  >
</h2>

<dl class="-cmp-data-list">
  @for (tel of data().tels; track $index) {
    <dt class="-cl-title">
      Tel
      <span class="-cl-title-number app-cl-number">{{ $index + 1 }}</span>
    </dt>
    <dd class="app-cl-number">{{ tel }}</dd>
  }
</dl>
